/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a:active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  /* Placing subhead image in center of page and making it relative position*/
.subhead {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text on background image*/
.centered {
  position:absolute;
  top: 80%;
  left: 80%;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }



  /* Set display type to flex to make the content appear side by side with a border in between */

.aboutme {
    display: flex;
}

  /* Added border and padding to About Me */

.aboutme h3 {
    border-right: solid 5px black;
    padding-right: 15px;
}
  /* Added some margin to text in this section */

.aboutme p {
    margin-left: 15px;
}

.aboutme img {
  width: 20%;
  height: 10%;
  float:right;
  clear:both;
}


  /* Put work inline so the image would show below the Work heading. */
#work {
    display: inline;
}

  /* add border and padding to Work */

#work h3 {
    border-right: solid 5px black;
    padding-right: 15px;
}

/* Adding first project image */ 

.firstproject {
  margin:3%;
  position: relative;
}

.firstproject img {
  width: 60%;
  height: 20%;
}

/* Adding text to first work example */ 
.left {
  position:absolute;
  top: 325px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adding bottom text to first work example */ 

.left2 {
  position:absolute;
  top: 350px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adding second project image */

.secondproject {
  margin:3%;
  position: relative;
}

.secondproject img {
  width: 40%;
  height: 10%;
}
/* Adding text to second work example */ 

.left3 {
  position:absolute;
  top: 95px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adding bottom text to second work example */ 

.left4 {
  position:absolute;
  top: 119px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Adding text onto 3rd project */ 

.thirdproject {
  margin: 3%;
  position: relative;
}

.thirdproject img {
  width: 40%;
  height: 10%;
}
.first-txt {
  position:absolute;
  top: 150px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-txt {
  position:absolute;
  top: 175px;
  left: 0px;
  background-color: navy;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
  /* Added border and padding to Contact info */

#contact h3 {
    border-right: solid 5px black;
    padding-right: 15px;
}
  /* Added display flex to contact info to make them line up */

#contact {
    display: flex;
    justify-content: space-around;
}

